<template>
    <div class="bot-media-test-wrapper">{{resultValue}}</div>
</template>

<script>
export default {
    name: "BotMediaTest",
    props: {
        one: {
            type: Number,
            default: 0
        },
        two: {
            type: Number,
            default: 0
        }
    },
    computed: {
        resultValue() {
            return this.one + this.two + this.incrementValue;
        }
    },
    methods: {
        increment() {
            this.incrementValue += 1;
        }
    },
    data() {
        return {
            incrementValue: 0,
        };
    }
};
</script>

<style lang="scss" scoped>
    // I usually use bootstrap framework for css styles
    // todo: All variables and definitions should be imported in global template definition and in components should be just component related styles
    $grid-breakpoints: (
            xs: 0,
            sm: 576px,
            md: 48em,
            lg: 992px,
            xl: 1200px
    ) !default;
    @import '~bootstrap/scss/bootstrap.scss';

    .bot-media-test-wrapper {
        @include media-breakpoint-down(sm) {
            background: red;
        }
    }
</style>