<template>
    <div id="app">
        <strong>Part 1)</strong>
        <botMediaTest :one="1" :two="2"/>
        <hr>
        <strong>Part 2)</strong>
        <botMediaTest :one="1" :two="2" ref="test"/>
        <button @click="$refs.test.increment()">Increment</button>
    </div>
</template>
<script>
import BotMediaTest from "./components/BotMediaTest";

export default {
    name: "App",
    components: {
        BotMediaTest,
    }
};
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
